_auth=c3RyaW5ncGFyc2VyOmYzM2xnMDBk
email=stringparser@gmail.com
init.author.name=Javier Carrillo Milla
init.author.email=stringparser@gmail.com
init.author.repository=https://github.com/stringparser
init.license=MIT
init.version=0.1.0
//registry.npmjs.org/:_authToken=c3250e5e-563b-4473-bc46-73162766111d
